body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.circle {
    position: absolute;
    bottom: 100%; /* Cambia a 100% para que la animación sea hacia abajo */
    left: 50%;
    transform: translateX(-50%);
    width: 0; /* Establece el ancho en píxeles según tus necesidades */
    height: 0; /* Asegúrate de que sea igual para mantener la forma circular */
    border: 2px solid blue;
    border-radius: 50%;
    animation: drawCircle 5s linear forwards;
    animation-fill-mode: both;
}

@keyframes drawCircle {
    from {
        width: 0;
        height: 0;
        bottom: 100%;
    }
    to {
        width: 160vw;
        height: 160vw;
        bottom: 0;
    }
}

